# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# Editor & IDE Directories
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*~

# Dependencies & Package Managers
node_modules/
vendor/

# Logs & Temporary Files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
temp/
tmp/
temp_assets/
.sass-cache/

# Environment Variables
.env
.env.local
.env.*.local

# Build Caches & Outputs
dist/
build/
.cache/
